h1{
    text-align: center;
}

div{
    text-align: center;
    align-items: center;
    align-content: center;
}

/* Bottoni */
button{
    align-items: center;
    border-radius: 20px;
}

button[id='calendar']{
    border-color: 309EB4;
    background-color: white;
}

button[id='done']{
    border-color: rgb(2, 2, 100);
    background-color: white;
}

button[id='delete']{
    border-color: red;
    background-color: white;
}
