/* |GENALE| */

h1{
    text-align: center;
}

div{
    text-align: center;
    align-items: center;
    align-content: center;
}



/* |BOTTONI| */

/* <universali> */
button{
    align-items: center;
    border-radius: 20px;

    border-width: 3px;
    font-weight: 500; 
}

button:hover {
    box-shadow: 0 2px 4px black;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0px);
    box-shadow: none;
}
/* </universali> */

/* <admin> */
button[id='calendar']{
    border-color: 309EB4;
    background-color: white;
}

button[id='PUT']{
    border-color: 1A237E;
    background-color: white;
}

button[id='DELETE']{
    border-color: C62828;
    background-color: white;
}
/* </admin> */

