/* |GENERALE| */

h1 {
    margin-top: 2vh;
    color: #320A9E;
    text-align: center;
    font-weight: 500;
}

div{
    margin-top: 2vh;
    text-align: center;
    align-items: center;
    align-content: center;
}

* {
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-weight: 450 ;
}



/* |BOTTONI| */

button{
    align-items: center;
    width: 50%;
    font-weight: 700;
    min-width: max-content;
    
    border-color: #320A9E;
    border-radius: 20px;
    border-width: 4px;

    background-color: white;
}

button:hover {
    box-shadow: 0 2px 4px black;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0px);
    box-shadow: none;
}

.button-calendar {
    border-color: #309EB4;
    width: 40%;
    font-weight: 600;
}

button[id='PUT']{
    border-color: #1A237E;
}

button[id='DELETE']{
    border-color:#C62828;
}



/* |INPUT| */

.input {
    border: 2px solid #320A9E;
    border-radius: 20px;
    width: 100%; 
    text-align: center;
}

.textarea_appointments{
    border: 2px solid #320A9E;
    border-radius: 20px;
    width: 99%;           
    margin: 0 auto;       
    min-height: 10vh;
    display: block;
}

.textarea_patient {
    border: 2px solid #320A9E;
    border-radius: 20px;
    width: 80%;           
    margin: 0 auto;       
    min-height: 20vh;
    display: block;        
}


/* |CALENDAR| */

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #320A9E;
    padding: 5px 10px;
}

.nav-arrow {
    width: 25%;
    font-weight: 600;
}

.calendar-title {
    text-transform: lowercase;
}

.calendar {
    border: 2px solid #320A9E;
    border-radius: 20px;
}

div:not(.fc, .fc *) {
    margin-top: 2vh;
    text-align: center;
    align-items: center;
    align-content: center;
}




/* specificità */

#appointmentForm,
#appointmentForm div,
#appointmentForm .row,
#appointmentForm [class^="col-"] {
    margin-top: 0 !important;
}

form .row, 
.main-container .row,
.row.justify-content-center {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html, body {
    overflow-x: hidden;
}